*{
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
    overflow-y: hidden;
}

body{
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100vw;
}