.Logo-img{
    width: 42px;
    border-radius: 50%;
    animation: 10s linear 1s infinite rotate;
}

@keyframes rotate {
    0%{
        transform: rotate(180deg);
    }
    100%{
        transform: rotate(360deg);
    }
}